/*подключем шрифты*/
@font-face {
    font-family: "Verdana";
    src: url("../fonts/Verdana.eot");
    src: url("../fonts/Verdana.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Verdana.woff") format("woff"),
    url("../fonts/Verdana.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "Verdana Bold";
    src: url("../fonts/Verdana-Bold.eot");
    src: url("../fonts/Verdana-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Verdana-Bold.woff") format("woff"),
    url("../fonts/Verdana-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

html { /*размещаем фон бекграунда и стилизуем его*/
    background: url(../images/bg.png) no-repeat center center fixed;
    background-size: cover;
}

.header { /*задаем высоту хедера его цвет и прозрачность*/
    background: rgba(0, 0, 0, 0.41);
    height: 56px;
}

.company { /*стилизуем название компании*/
    float: left;
    padding: 16px;
    color: #FFFFFF;
    margin-left: 81px;
    font: 20px "Verdana Bold", sans-serif;
}

.company:hover {
    color: #3cb878; /*задаем цвет названия компании при ховере*/
}

.nav { /*задаем параметры блока где будут размещены ссылки в хедере*/
    float: right;
    padding-top: 18px;
    margin-right: 50px;
}

.forum, .forum:hover, .journey, .journey:hover, .caledar, .caledar:hover, .logo-facebook, .logo-google, .rectangle { /*задаем параметры для спрайта который будем использовать при верстке*/
    display: inline-block;
    background: url('../images/sprite.png') no-repeat;
    overflow: hidden;
    text-indent: -9999px;
}

.forum { /*задаем размещение иконки форума*/
    width: 28px;
    height: 20px;
    background-position: -5px -208px;
    padding-right: 28px;
}

.caledar { /*задаем размещение иконки календаря*/
    width: 19px;
    height: 19px;
    background-position: -5px -150px;
    padding-right: 28px;
}

.journey { /*задаем размещение иконки журнала*/
    width: 20px;
    height: 20px;
    background-position: -5px -268px;
}


.forum:hover { /*задаем ховер для иконки форума*/
    width: 28px;
    height: 20px;
    background-position: -5px -238px;
}

.journey:hover { /*задаем ховер для иконки журнала*/
    width: 20px;
    height: 20px;
    background-position: -5px -298px;
}

.caledar:hover { /*задаем ховер для иконки календаря*/
    width: 19px;
    height: 19px;
    background-position: -5px -179px;
}

.login-signup { /*стилизуем текст регистрации и логина*/
    float: right;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    margin-right: 75px;
    padding: 23px 0;
    color: #FFFFFF;
}

.login-signup a { /*стилизуем ссылки регистрации и логина*/
    text-decoration: none;
    color: #3cb878;
}

.login-signup a:hover, .name-and-login a:hover, .i-forms .form-group a:hover {
    text-decoration: underline; /*убираем подчеркивание у ссылокрегистрации, логина и в форме*/
}

.form { /*задаем размеры блока формы и размещаем ее по центру. учитываем высоту хедера*/
    height: 584px;
    width: 444px;
    background-color: #FFFFFF;
    position: absolute;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 28px));
}

.form-content { /*задаем размеры и шрифт блоку контента в форме*/
    margin: 29px 60px;
    font-family: Verdana, sans-serif;
}

.name-and-login { /*задаем параметры блоку заголовка и логина*/
    position: relative;
    height: 18px;
}

.name-and-login span { /*задаем шрифт и его цвет, для заголовка формы*/
    color: #434343;
    font-size: 20px;
    float: left;
}


.name-and-login a { /*задаем стили и размещение ссылки логина в форме*/
    float: right;
    color: #3cb478;
    text-decoration: none;
    font-size: 14px;
}

.shape { /*задаем параметры отображения зеленому квадрату слева от заголовка формы*/
    position: absolute;
    left: -60px;
    height: 18px;
    width: 18px;
    background-color: #3cb478;
}

.button-login-smm {
    margin-top: 16px; /*задаем отступ между кнопками соцсетей и заголовком формы*/
}

.button-login-smm button { /*задаем размеры и параметры кнопок соцсетей*/
    height: 46px;
    width: 157px;
    font-size: 16px;
    border-radius: 3px;
    border-width: 0;
    padding: 0;
    outline-width: 0;
    color: #FFFFFF;
}

.button-login-smm p {
    padding-top: 8px; /*задаем внутренний отступ для надписи на кнопках соцсетей*/
}

.button-facebook {
    background-color: #305db8; /*задаем цвет кнопке фейсбука*/
}

.button-facebook:hover {
    background-color: #264b96; /*задаем цвет ховера кнопки фейсбука*/
}

.place-for-logo { /*задаем параметры для отображения лого соцсети на кнопке*/
    padding-top: 6px;
    width: 47px;
    float: left;
}

.logo-facebook { /*задаем параметры отображения лого фейсбука из спрайта*/
    float: left;
    margin-left: 18px;
    width: 10px;
    height: 20px;
    background-position: -5px -120px;
}

.rectangle { /*задаем параметры отображения разделителя между лого и текстом на кнопках соцсетей*/
    float: right;
    width: 1px;
    height: 28px;
    background-position: -5px -31px;
}

.button-google { /*задаем размещение и цвет кнопке гугла*/
    float: right;
    background-color: #df4a32;
}

.button-google:hover { /*задаем цвет ховера кнопки гугла*/
    background-color: #c3412c;
}

.logo-google { /*задаем параметры отображения лого гугла из спрайта*/
    float: left;
    margin: 4px 0 0 10px;
    width: 25px;
    height: 16px;
    background-position: -5px -5px;
}

.text-separator-form { /*задаем параметры блока разделителя кнопок и полей формы*/
    height: 22px;
    position: relative;
    padding-top: 37px;
}

.text-separator-form hr { /*стилизуем полосу-разделитель между кнопками и полями формы*/
    margin: 0;
    border-width: 0.5px;
}

.text-separator-form span { /*стилизуем и задаем параметры размещения текста на разделителе между кнопками и полями формы*/
    position: absolute;
    top: 30px;
    left: 138px;
    color: #d5d5d5;
    font-size: 14px;
    background-color: #FFFFFF;
    padding: 0 15px;
}

.i-forms .form-group input[type="text"], input[type="email"], input[type="password"] { /*задаем размеры и стили полей формы*/
    width: calc(100% - 36px);
    padding: 14px 17px;
    margin-bottom: 9px;
    border-radius: 3px;
    border: 1px #D5D5D5 solid;
    color: #434343;
    font-size: 14px;
}

.i-forms .form-group input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus { /*задаем тень и убираем окантовку фолей в фокусе*/
    box-shadow: 0 3px 4px 2px rgba(200, 200, 200, 0.4);
    outline-width: 0;
}

.i-forms .form-group input::-webkit-input-placeholder {
    color: #BEBEBE; /*задаем цвет текста в поле до взаимодействия с ним*/
}

.i-forms .form-group input[type="checkbox"] { /*задаем отступы для всех полей кроме первого*/
    margin-top: 13px;
    margin-bottom: 19px;
}

.i-forms .form-group input[name="firstName"] {
    margin-bottom: 17px; /*задаем отступы между всеми полями кроме первого*/
}

.i-forms .form-group label[for="userTermsConditions"] { /*задаем размер шрифта и цвет тексту оп согласии с политикой безопасности*/
    width: 100%;
    color: #434343;
    font-size: 14px;
}

.i-forms .form-group a { /*задаем цвет и убираем подчеркивание у ссылки на политику безопасности*/
    color: #3cb478;
    text-decoration: none;
}

.i-forms button { /*задаем размещение и стиль кнопке отправки формы*/
    margin-top: 10px;
    width: 322px;
    height: 46px;
    color: #FFFFFF;
    font-size: 16px;
    background-color: #3cb478;
    border-radius: 3px;
    border-width: 0;
}