html {
    font-family: 'Montserrat', sans-serif;
}

.container-header {
    background: fixed url("../images/background/section-1(header).jpg");
    height: 977px;
}

.header {
    height: 120px;
    background-color: rgba(10, 10, 10, 0.3);
}

.header-nav {
    margin: 0 auto;
    width: 1160px;
}

.logo {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 120px;
    float: left;
    justify-content: left;
    width: 180px;
}

.logoLetterH {
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    margin-left: -45px;
    text-align: left;
}

.logoLastText {
    color: #ffffff;
    font-size: 32px;
    font-weight: 300;
    margin-left: 20px;
}

.logoSecondText {
    color: #18cfab;
    font-size:  32px;
    font-weight: 700;
}

.headerMenu {
    align-items: center;
    display: flex;
    height: 120px;
    justify-content: flex-end;
    width: 980px;
}

.listMenu {
    padding-bottom: 53px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 13px;
    font-weight: 700;
    color: #b8b8b8;
    margin: 55px 11px 0;
    border-bottom: 2px transparent solid;
}

.listMenu:hover {
    color: #18cfab;
    border-bottom: 2px #18cfab solid;
}

.listMenu i {
    cursor: pointer;
    font-size: 23px;
}

#faSearch:hover {
    color: #18cfab;
    border-bottom: none;
}

.centerBlock {
    width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

h3 {
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    padding-top: 200px;
    font-size: 35px;
    margin: 0;
}

h3 span {
    color: #18cfab;
}

h1 {
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    font-size: 79px;
    margin-top: 20px;
    font-weight: 700;
}

.centerBlock p {
    color: #d4d4d4;
    font-size: 34px;
    text-align: center;
    margin-top: -38px;
}

.buttonBlock {
    text-align: center;
    padding-top: -6px;
}

.greenButton {
    text-transform: uppercase;
    width: 166px;
    height: 61px;
    background-color: #18cfab;
    color: #ffffff;
    font-size: 13px;
    border: none;
    border-top: 5px solid #ffffff;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 110px;
    font-weight: 700;
}

.greenButton:focus {
    outline: none;
}

.blueButton {
    text-transform: uppercase;
    width: 166px;
    height: 61px;
    margin-left: 20px;
    background-color: #00cbf6;
    color: #ffffff;
    font-size: 13px;
    border: none;
    border-top: 5px solid #ffffff;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 50px;
    font-weight: 700;
}

.blockUnderHeader {
    display: flex;
    justify-content: center;
}

.blockUnderHeaderOne {
    width: 480px;
    height: 367px;
    background-color: #18cfab;
    border-top: 7px solid #ffffff;
    display: flex;
    flex-flow: column;
    align-items: center;
    color: #FFFFFF;
}

.blockUnderHeaderOne:nth-child(odd) {
    background-color: #1c2a33;
    border-top: 7px solid #18cfab;
    color: #18cfab;
}

.imageUnderHeaderOne {
    display: flex;
    align-items: center;
    height: 228px;
}

.imageUnderHeaderOne img {
    margin: 42px 0 0;
}

.textBlockUnderHeader {
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    font-size: 20px;
}

.ourServices {
    height: 560px;
    display: flex;
    align-items: center;
    flex-flow: column;
}

.contentOurServices {
    width: 1200px;
    display: flex;
    align-items: center;
    flex-flow: column;
    position: absolute;
}

.textH2 {
    margin: 76px 0 0;
    font-size: 36px;
    text-align: center;
    color: #4e4e4e;
    font-weight: 400;
}

.lineGreen {
    width: 76px;
    border: 0.5px #18cfab solid;
    box-shadow: 18px 5px #18cfab;
    margin-top: 28px;
}

.sectionTabOurServices {
    width: 1160px;
    height: 240px;
    margin-top: 50px;
}

.menuOurServices {
    flex-wrap: wrap;
    list-style: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: inherit;
    color: #717171;
}

.menuOurServices:after {
    content: '';
    display: table;
    clear: both;
}

.menuOurServices li {
    width: 191px;
    height: 70px;
    background: #f8fcfe;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #eeeeef;
}

.menuOurServices li:not(.active) {
    cursor: pointer;
}

.menuOurServices .active {
    background: #18cfab;
    color: #fff;
    position: relative;
    border: 1px solid #18cfab;
}

.menuOurServices .active:before {
    content: '▼';
    position: absolute;
    bottom: -23px;
    left: 83px;
    right: 0;
    color: #18cfab;
    font-size: 29px;
}

.contentTabOurServices {
    display: none;
    background: #FFF;
    margin-top: 24px;
}

.contentTabOurServices.active {
    display: block;
}

.imageTabOurServices {
    float: left;
    margin-right: 20px;
    border: 1px #babdad solid;
}

.textTabOurServices {
    color: #777777;
    font-size: 14px;
    text-align: justify;
    line-height: 1.7;
}

.blockBuyNowButton {
    height: 470px;
    background: fixed url("../images/background/section-2.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.blackout {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 470px;
}

.greenHeadline {
    margin: 0 0 9px;
    text-transform: uppercase;
    font-size: 40px;
    color: #18cfab;
    font-weight: 700;
}

.exposition {
    font-size: 16px;
    color: #d8d8d8;
    margin-bottom: -34px;
}

.ourAmazingWork {
    min-height: 975px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    background-color: #f8fcfe;
    border: 1px solid #e1e1e1;
}

.contentAmazingWork {
    width: 1200px;
    display: flex;
    align-items: center;
    flex-flow: column;
    height: 1176px;
    padding-top: 14px;
}

.hoverAmazingWork {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 16px;
}

.hoverAmazingWork:hover {
    color: #1c71ff;
}

.fast {
    color: #18cfab;
    padding: 13px;
    border: 1px solid #18cfab;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 2px;
    margin-right: 2px;
    font-size: 12px;
}

.fast:hover {
    background-color: #18cfab;
    color: #ffffff;
}

.hoverAmazingWorkText1 {
    color: #18cfab;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 15px;
}

.hoverAmazingWorkText2 {
    color: #8a8a8a;
    margin-top: -4px;
    font-size: 12px;
}

.menuAmazingWork {
    margin-top: 81px;
    padding-bottom: 60px;
}

.amazingWork {
    display: inline-block;
    list-style-type: none;
    background-color: #ffffff;
    margin: -3px;
}

.select a, .select a:visited {
    color: #18cfab;
    border-top: 2px solid #18cfab;
}

.linkAmazingWorkMain, .linkAmazingWorkMain:visited {
    color: #717171;
    text-decoration: none;
    background-color: #ffffff;
    padding: 20px 25px;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid #ebebeb;
}

.categoryAmazingWork {
    width: 1200px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 70px;
}

.categoryItemsOneScreen {
    list-style-type: none;
    display: block;
    float: left;
    width: 278px;
    height: 200px;
    position: relative;
}

.categoryItemsOneScreenSecond {
    display: none;
}

.categoryItemsOneScreenThird {
    display: none;
}

.backgroundBlockAmazingWork {
    width: 278px;
    height: 200px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #ffffff;
    opacity: 0;
    border-top: 3px solid #18cfab;
}

.backgroundBlockAmazingWork:hover {
    opacity: 1;
    transition: 400ms ;
}

.preloader {
    display: none;
    width: 50px;
    height: 50px;
    margin-left: 69px;
}

#buttonLoadMore {
    background-color: #18cfab;
    color: #ffffff;
    width: 165px;
    height: 60px;
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 3px ;
    margin-top: 54px;
}

.fa-plus:before {
    margin-right: 10px;
    font-size: 19px;
}

#buttonLoadMore:active, #buttonLoadMore:focus {
    outline: none;
}

#buttonLoadMore::-moz-focus-inner {
    border: 0;
}

.clean {
    clear: both;
}

.displayNone {
    display: none;
}

.categoryItemsOneScreen img {
    height: 200px;
    width: 278px;
}

.breakingNews {
    height: 985px;
    display: flex;
    align-items: center;
    flex-flow: column;
}

.contentBreakingNews {
    display: flex;
    margin-top: 68px;
}

.blockBreakingNews {
    width: 263px;
    height: 280px;
    display: flex;
    flex-flow: column;
    border: 1px solid #ebebeb;
    margin: 0 13px;
    position: relative;
}

.linkBreakingNews {
    text-decoration: none;
}

.blockBreakingNews a.linkBreakingNews:hover .titleBlockBreakingNews {
    color: #18cfab;
}

.blockBreakingNews a.linkBreakingNews:hover .dateBlockBreakingNews{
    background-color: #18cfab;
}

.titleBlockBreakingNews {
    color: #717171;
    text-align: left;
    font-size: 18px;
    margin-left: 15px;
    font-weight: 700;
    margin-top: -4px;
    cursor: pointer;
    padding-top: 12px;
}

.titleBlockBreakingNews:hover {
    color: #18cfab;
}

.dateBlockBreakingNews {
    width: 68px;
    height: 66px;
    background-color: #203e38;
    top: 0;
    right: 0;
    position: absolute;
    cursor: pointer;
}

.day {
    text-align: center;
    margin-top: 15px;
    color: #ffffff;
}

.month {
    text-align: center;
    margin-top: -10px;
    color: #ffffff;
}

.blockDescriptionBreakingNews {
    width: 263px;
    height: 72px;
    background-color: #f8fcfe;
}

.authorBlockBreakingNews {
    color: #777777;
    float: left;
    font-size: 14px;
    margin-left: 18px;
    margin-top: -7px;
}

.delimiterBlockBreakingNews, .commentsBlockBreakingNews {
    color: #777777;
    float: left;
    font-size: 14px;
    margin-left: 9px;
    margin-top: -7px;
}

.testimonialsUser {
    width: 164px;
    height: 165px;
    border-radius: 50%;
    background-color: rgba(24,207,171,0.2);
    display: inline-block;
    margin-left: 520px;
}

.testimonialsUserAround {
    width: 144px;
    height: 143px;
    border-radius: 50%;
    background-color: #18cfab;
    display: inline-block;
    margin: 10px;
}

.classForSlick2 {
    width: 420px;
    height: 100px;
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.reviews {
    height: 850px;
    background: fixed url("../images/background/section-3.jpg");
}

.contentReviews {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.textH2White {
    font-size: 36px;
    text-align: center;
    color: #ffffff;
    font-weight: 400;
    margin: 94px 0 0;
}

.quotes {
    color: #18cfab;
    margin-top: 50px;
}

.quote-left {
    margin: 50px 0 0;
    font-size: 86px;
    line-height: 0;
}

.textPersonalContentReviews {
    color: #bbbbbb;
    font-size: 16px;
    text-align: center;
    margin-top: 30px;
    line-height: 2;
}

.namePersonalContentReviews {
    text-transform: uppercase;
    color: #18cfab;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
}

.positionPersonalContentReviews {
    color: #bbbbbb;
    font-size: 13px;
    text-align: center;
    margin-bottom: 19px;
}

.imagePersonalContentReviews {
    border-radius: 50%;
    border: 3px #18cfab solid;
    height: 138px;
    width: 138px;
}

.aroundPersonalContentReviews {
    width: 144px;
    height: 143px;
    border-radius: 50%;
    background-color: #18cfab;
    display: inline-block;
    margin: 10px;
}

.blockSliderPersonalContentReviews {
    width: 500px;
    height: 120px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sliderLeft {
    padding: 8px 10px;
    border: 1px solid #cccccc;
    cursor: pointer;
    color: #cccccc;
}

.sliderLeft:hover {
    color: #ffffff;
    background-color: #18cfab;
    border: 1px solid #18cfab;
}

.blockImagePersonalContentReviews {
    height: 75px;
    border-radius: 50%;
    margin-top: 10px;
    float: left;
    margin-left: 99px;
    cursor: pointer;
}

.imageSliderPersonalContentReviews {
    float: left;
    margin-top: 4px;
    margin-left: 18px;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 0 0 5px rgba(24, 207, 171, 0.2);
    outline: none;
}

.blockContentReviews {
    width: 1200px;
}

.slick-active .imageSliderPersonalContentReviews {
    margin-top: -5px;
    border: 1px solid #18cfab;
}

.sliderRight {
    padding: 8px 10px;
    border: 1px solid #cccccc;
    cursor: pointer;
    color: #cccccc;
}

.sliderRight:hover {
    color: #ffffff;
    background-color: #18cfab;
    border: 1px solid #18cfab;
}

footer {
    height: 110px;
    background-color: #22353f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentFooter {
    text-align: center;
    font-size: 11pt;
    color: rgba(174, 174, 174);
}

footer a {
    color: #18cfab;
    cursor: pointer;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}