@font-face {
    /*подключаем сторонний шрифт для разных браузеров и присваиваем ему название MyriadProRegular*/
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

html {
    background-color: #000000; /*задаем цвет фона страницы*/
    font-family: MyriadProRegular, sans-serif; /*задаем родительский шрифт на странице*/
}

body {
    background-color: #FFFFFF; /*задаем цвет фона*/
    height: auto; /*указываем, что высота страницы подстраивается автоматически*/
    margin-left: auto; /*устанавливаем отступ от левого края*/
    margin-right: auto; /*устанавливаем отступ от правого края*/
    width: 1480px; /*задаем ширишу для body*/
}

.container {
    height: 100%; /*указываем, что высота страницы составляет 100%*/
    margin: 0 auto; /*центруем контейнер по ширине*/
    width: 1280px; /*задаем ширину контейнера*/
    padding: 30px 0; /*добавляем отступ между контейнером и верхним и нижним краем страницы*/
}

.container .logo {
    padding: 10px 0; /*задаем верхний и нижний отступы для текстового лого*/
}

.container .logo a {
    font-size: 80px; /*задаем размер шрифта текстового лого*/
    text-decoration: none; /*убираем подчеркивание у ссылок*/
}

.container .header-nav {
    background: #35444F; /*задаем цвет фона хедера*/
    margin: 40px 0; /*добавляем отступ между меню и верхним и нижним блоками*/
    overflow: hidden; /*отображаем только область внутри элемена. то что не помещается будет скрыто*/
    position: relative; /*задаем позиционирование элемента*/
    text-align: center; /*центруем текст на кнопках в верхнем меню*/
}

.container .header-nav a {
    color: #FFFFFF; /*задаем цвет шрифта в верхнем меню*/
    display: inline-block; /*указываем блоку меню свойство inline-block*/
    font-size: 24px; /*задаем размер шрифта в верхнем меню*/
    padding: 21px 41px; /*задаем поля вокруг текста */
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
}

.container .header-nav a:hover {
    background: #222F3A; /*задаем цвет фона блока ссылки верхнего меню при наведении на него*/
    border-left: 1px solid #828282; /*линия слева от текста*/
    border-right: 1px solid #828282; /*линия справа от текста*/
    margin: 0 -1px; /*добавляем отступ для бордера справа и слева, чтоб не скакали пункты меню при наведении*/
}

.left-menu {
    border: 1px solid #828282; /*параметры границы блока левого меню*/
    display: inline-block; /*указываем блоку левого меню свойство inline-block*/
    vertical-align: top; /*выравниваем блок левого меню по верхнему краю блока*/
    width: 26%; /*задаем процентное соотношение ширины блока относительно ширины контейнера*/
}

.left-menu a {
    display: block; /*задаем тип блок для пунктов левого меню*/
    font-size: 28px; /*задаем размер шрифта в левом меню*/
    color: #495863; /*задаем цвет шрифта в левом меню*/
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    padding: 25px 40px; /*задаем поля вокруг текста ссылок меню*/
}

.left-menu a:hover {
    color: #000000; /*задаем цвет шрифта блока ссылки в левом меню при наведении на него*/
    background: #dbdbdb; /*задаем цвет фона блока ссылки левого меню при наведении на него*/
    padding-left: 65px; /*задаем поле отступа текста в блоке ссылки левого меню при наведении на него*/
}

.content {
    width: 69.6%; /*задаем процентное соотношение ширины блока относительно ширины контейнера*/
    display: inline-block; /*указываем блоку левого меню свойство inline-block*/
    height: 100%; /*задаем высоту блока по контенту в блоке*/
    padding: 0 0 0 57px; /*добавляем поле отступа между блоком контента и левым меню*/
    margin-right: -0.4em; /*добавляем небольшой правый отступ для нивелирования инлайновой части инлайн блока*/
}

.content-image {
    height: 527px; /*задаем фиксированную высоту блока под изображение*/
    width: 883px; /*задаем фиксированную ширину блока под изображение*/
    border: 1px solid #828282; /*параметры границы блока под изображение в центре контента*/
    display: table-cell; /*указываем что элемент является ячейкой таблицы. Нужно чтоб отцентрировать изобращение в блоке*/
    vertical-align: middle; /*выравниваем элемент по середине вертикали табличной ячейки*/
    text-align: center; /*выравниваем элемент по середине горизонтали табличной ячейки*/
}

.content-image img { /*добавляем эфект приближения картинки при наведении на нее курсора. Как работает не знаю, копипаст из инета.*/
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.content-image img:hover { /*добавляем эфект приближения картинки при наведении на нее курсора. Как работает не знаю, копипаст из инета.*/
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.content-text {
    padding: 33px; /*задаем поля вокруг блока для текста*/
}

.content-text p {
    color: #2c2c2c; /*задаем цвет шрифта текста в контенте центрального блока*/
    font-size: 18px; /*задаем размер шрифта в контенте центрального блока*/
    line-height: 1.4em; /*задаем межстрочный отступ в контенте центрального блока*/
    padding: 20px 0; /*задаем поля сверху и снизу от контента центрального блока*/
}


.main-footer {
    background: #B4B7BA; /*задаем цвет фона хедера*/
    padding: 0 30px; /*задаем поля между контентом в футере и правым и левым краями блока*/
}

.footer-nav {
    display: inline-block; /*указываем блоку меню свойство inline-block*/
    width: 79%; /*задаем процентное соотношение ширины блока относительно ширины контейнера*/
}

.footer-nav a {
    color: #0c1927;
    display: inline-block; /*указываем блоку ссылок в нижнем меню свойство inline-block*/
    font-size: 28px; /*задаем размер шрифта в нижнем меню*/
    padding: 21px 10px;
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
}

.footer-nav span:hover {
    border-bottom: 1px #3181AB solid; /*стилизуем рамки ссылок при наведении на ссылку*/
    color: #3181AB; /*задаем цвет шрифта блока ссылки в нижнем меню при наведении на ссылку*/
    padding-bottom: 2px; /*задаем отступ для поддчеркивания ссылок при наведении*/
}

.copyright {
    color: #010101; /*задаем поля вокруг текста ссылок меню*/
    display: inline-block; /*указываем блоку копирайта свойство inline-block*/
    font-size: 24px; /*задаем размер шрифта копирайта в футере*/
    text-align: right; /*выравнивание текста по правому краю*/
    width: 20.7%; /*задаем процентное соотношение ширины блока относительно ширины контейнера*/
}