body {
    background: black;
}


.left-menu {
    background: #1c28ff;
    width: 400px;
}

.left-menu p {
 margin: 100px;

    display: block; /*задаем тип блок для пунктов левого меню*/
    font-size: 28px; /*задаем размер шрифта в левом меню*/
    color: #495863; /*задаем цвет шрифта в левом меню*/
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    padding: 25px 40px; /*задаем поля вокруг текста ссылок меню*/
}


p:before {
    content: "\20aa "; /* Добавляем перед элементом списка символ в юникоде */
}