.container {
    display: flex;
    border: 1px #1c28ff solid;
    padding: 15px;

    /*flex-direction: column;*/
    /*flex-direction: row-reverse;*/
    justify-content: flex-end;
    align-items: flex-end;
    /*flex-wrap: wrap;*/
    height: 700px;

}

.flex-item {
    border: 1px red dashed;
    width: 150px;
    margin: 10px;
}

/*.container2 {*/
/*    border: 1px #1c28ff solid;*/
/*    padding: 15px;*/
/*width: 100%;*/
/*}*/

.item1 {
    order: 2;
}

.item2 {
    order: 3;
}

.item3 {
    order: 4;
}

.item4 {
    order: 1;
}

.item5 {
    order: 5;
color: rgb(255, 0, 0, 0.5);

    font-weigh: bo;

}