.container {
    border: 1px, #1c28ff solid;
    margin: 0 auto;
    width: 980px;
}

header, main, footer {
    border: 1px, #f1ff1f solid;
    margin: 5px;
    padding: 5px;
}

section {
    background-color: #3181ab;
}

aside {
    background-color: brown;
}

.left-aside {
float: left;
    width: 30%;
    height: 100%;
}

.content {
    float: left;
}