#wrapper {
    color: #FFFFFF;
}

#wrapper header {
    border: 10px #020746 solid;
    background: #1c28ff;
    padding: 10px;
}

#wrapper main {
    margin: 5px;
    padding: 10px;
    background: #1c28ff;
    border: 10px #f1ff15 solid;
}

#wrapper footer {
    border: 10px #020746 solid;
    background: #1c28ff;
    padding: 10px;
}