html {
    font-family: 'Open Sans', sans-serif;
}

.container-header {

}


.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 71px;
    background-color: #1d2124;
    color: #FFFFFF;
}


.item-header-nav {
    display: flex;
    justify-content: center;
}

.item-header-nav a {
    padding: 0 18px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}


.item-header-right {
    width: 71px;
    background-color: #171a1c;
    text-align: center;

}


.item-header-right .fa-search {
    background-color: #171a1c;
    margin: 27px 0;
}