body, html {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    color: #facf04;
    background-color: #000000;
    overflow: hidden;
}

.container h1, h2 {
    text-align: center;
}

.container {
    position: absolute;
    width: 22em;
    height: 50em;
    bottom: 0;
    left: 50%;
    margin-left: -11em;
    font-size: 400%;
    font-weight: bold;
    text-align: left;
    line-height: 1.5;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(400px) rotateX(20deg);
}

.content {
    position: absolute;
    top: 100%;
    animation: scroll 30s linear infinite;
}

@keyframes scroll {
    0% { top: 100%; }
    100% { top: 0; }
}