body {
font-family: Arial;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}


h1 {
    margin-bottom: 0px;
    font-weight: 500;
}

h1 strong {
    font-weight: 700;
}

h2 {
    margin-top: 1px;
    color: darkgray;
    font-style: italic;
}