.container {
    display: flex;
}


.left-content {
    border: 1px red solid;
    width: 30%;
}

.center-content {
    border: 1px red solid;
    width: 39%;
}

.right-content {
    border: 1px red solid;
    width: 30%;
}
