@keyframes example {
    from {
        background-color: #1c28ff;
    }

    to {
        background-color: #f1ff15;
    }
}

.container {
    width: 400px;
    height: 400px;
    border: 1px red sloid;
    background-color: #f1ff15;
    animation-name: example;
    animation-duration: 5s;
    animation-play-state: paused;

}

.container:hover {
    animation-play-state: running;
}

