/*html, body {*/
/*    width: 100%;*/
/*}*/

.container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vw;
    /*grid-template-columns: auto auto auto;*/
    /*grid-template-rows: 200px 50px auto 100px 200px;*/
}

.container > div {
    font-size: 5vw;
    padding: .3em;
    text-align: center;
    border: 1px blue solid;
}