body {
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
}

.container {
    width: 1192px;
    height: 736px;
    background: #3a4965;
    display: table;
}

table {
    border-collapse: collapse;
    /*width: 1140px;*/
    /*height: 684px;*/
    background: #fafafa;
    margin-top: 24px;
    margin-left: 22px;
    text-transform: uppercase;
    text-align: center;
    color: #484848;
}

tr > th, tr > td {
    border: #d9d9d9 solid;
    border-width: 0 2px;
}

.theme-dark tr > th {
    height: 70px;
    vertical-align: middle;
}


.theme-dark tr:nth-child(2n) > th {
    height: 86px;
}

.theme-dark-body tr {
    background-color: #f2f2f2;
}


.theme-dark-body tr:nth-child(2n) {
    background-color: #e3e3e3;
}

.theme-dark-body tr > td {
    height: 69px;
    vertical-align: middle;
}


.theme-dark-footer tr > th button {
    color: #FFFFFF;
    height: 49px;
    width: 192px;
    border-radius: 5px;
    margin-top: 32px;
    margin-bottom: 29px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #89c331;
    border-bottom: rgba(0, 0, 0, 0.1) 7px solid;
    border-top: rgba(0, 0, 0, 0) 7px solid;
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
}