ul > li, ul > li a {
    line-height: 30px;
}


.link {
    width: 115px;
    height: 115px;
    background: url("../images/angry_birds.png") 0 -10px;
    display: block;
    padding-left: 35px;

}

.link:before {
    content: ;
}