/*подключем шрифты*/
@font-face {
    font-family: "Verdana";
    src: url("../fonts/Verdana.eot");
    src: url("../fonts/Verdana.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Verdana.woff") format("woff"),
    url("../fonts/Verdana.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "Verdana Bold";
    src: url("../fonts/Verdana-Bold.eot");
    src: url("../fonts/Verdana-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Verdana-Bold.woff") format("woff"),
    url("../fonts/Verdana-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

html {
    background-color: #000000; /*цвет фона страницы*/
}

body::after {
    content: "";
    background-image: url(../images/background.jpeg);
    margin-left: auto; /*устанавливаем отступ от левого края*/
    margin-right: auto; /*устанавливаем отступ от правого края*/
    opacity: 0.25; /*задаем прозрачность маски на фоновом изображении*/
    top: 0; /*задаем положение от верхнего края*/
    left: 0; /*задаем положение от левого края*/
    bottom: 0; /*задаем положение от нижнего края*/
    right: 0; /*задаем положение от правого края*/
    position: absolute; /*задаем абсолютное позиционирование относительно нулевых кординат body*/
    z-index: -1; /*опускаем изображение на - 1 уровень*/
    height: 768px; /*задаем высоту для body*/
    width: 1366px; /*задаем ширишу для body*/
}

.container {
    margin: 0 auto; /*центруем контейнер по ширине*/
    padding-top: 49px; /*добавляем отступ между контейнером и верхним и нижним краем страницы*/
    width: 1052px; /*задаем ширину контейнера*/
    color: #FFFFFF; /*задаем основной цвет шривта в контейнере*/
    font-family: Verdana, sans-serif; /*задаем шрифт в контейнере*/
}

/*стилизуем хедер*/
header {
    height: 44px; /*задаем высоту хеодера*/
}

.logo {
    float: left; /*распологаем блок с лого в левой части хедера и применяем к нему float для того чтоб иметь возможность расположить контакты в этой же строке*/
    width: 170px; /*задаем ширину лого*/
    font-family: "Verdana Bold", sans-serif; /*задаем шифт для написания названия компании в лого*/
}

.logo a {
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    color: #FFFFFF; /*задаем цвет шрифта используемого в тексте лого*/
}

.logo-text-line1 {
    font-size: 29px; /*задаем размер шрифта первой строки названия компании в лого*/
}

.logo-text-line2 {
    font-size: 18px; /*задаем размер шрифта второй строки названия компании в лого*/
}

.logo:before {
    content: url("../images/logo.png"); /*используя псевдоэлемент добавляем картинку в лого слева от названия компании*/
    float: left; /*задаем обтекание лого с лева от текста*/
    margin-right: 15px; /*задаем отступ между картинкой и названием в лого*/
}

.logo:hover:before {
    content: url("../images/logo-hover.png"); /*задаем картинку которая будет отображаться в лого при наведении на ссылку*/
}

.logo:hover span {
    color: #F26522; /*задаем цвет шрифта в лого при наведении на него*/
}

.header-contacts {
    height: 44px; /*задаем высоту блока с контактами*/
    float: right; /*задаем обтекание с правой стороны*/
    font-size: 18px; /*задаем размер шрифта контактов*/
    text-align: right; /*выравниваем текст по правой стороне блока*/
    display: table; /*делаем блок табличным*/
    line-height: 1.3em; /*задаем межстрочный отступ*/
}

.header-contacts p {
    display: table-cell; /*делаем блок с текстом ячейкой таблицы чтоб иметь возможность авровнять контент по высоте*/
    vertical-align: bottom; /*выравниваем контент по высоте*/
}


/*Стилизуем основвной блок*/
main {
    clear: both; /*сбрасываем действия предыдущих float*/
    padding-top: 43px; /*задаем верхний внутренний отступ*/
}

.container-main img {
    padding: 0 2px; /*задаем внутренний отступ слева и справа от изображения. так сказать, резервируем под рамку*/
    box-shadow: 0 20px 10px 5px rgba(0,0,0,0.4); /*задаем параметры тени вокруг изображения*/
    border-top: 2px solid #FFFFFF; /*задаем параметры рамки на изображении сверху*/
    border-bottom: 2px solid #000000; /*задаем параметры рамки на изображении снизу*/
    -webkit-box-sizing: border-box; /*не понимаю пока значения. решение нашел в инете*/
    -moz-box-sizing: border-box; /*не понимаю пока значения. решение нашел в инете*/
    box-sizing: border-box; /*не понимаю пока значения. решение нашел в инете*/
    background-position: 0 0, 100% 0; /*не понимаю пока значения. решение нашел в инете*/
    background-repeat: no-repeat; /*не понимаю пока значения. решение нашел в инете*/
    -webkit-background-size: 2px 100%; /*не понимаю пока значения. решение нашел в инете*/
    -moz-background-size: 2px 100%; /*не понимаю пока значения. решение нашел в инете*/
    background-size: 2px 100%; /*не понимаю пока значения. решение нашел в инете*/
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=),url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=); /*не понимаю пока значения. решение нашел в инете*/
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #000000 100%), -webkit-linear-gradient(top, #FFFFFF 0%, #000000 100%); /*не понимаю пока значения. решение нашел в инете*/
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #000000 100%), -moz-linear-gradient(top, #FFFFFF 0%, #000000 100%); /*не понимаю пока значения. решение нашел в инете*/
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #000000 100%), -o-linear-gradient(top, #FFFFFF 0%, #000000 100%); /*не понимаю пока значения. решение нашел в инете*/
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #000000 100%), linear-gradient(to bottom, #FFFFFF 0%, #000000 100%); /*не понимаю пока значения. решение нашел в инете*/
}

.container-main a {
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    color: #FFFFFF; /*задаем цвет шрифта текста под изображением*/
    text-align: center; /*центруем текст под изображением*/
}

.block-image-1-2-4-5 {
    position: relative; /*задаем блоку с изображением позицию relative, что в дальнейшем иметь возможность надвинуть на него другой блок с контентом*/
    float: left; /*задаем обтекание слева*/
    margin: 0 65px 48px 0; /*задаем внешние отступы*/
}

.block-image-3-6 {
    position: relative; /*задаем блоку с изображением позицию relative, что в дальнейшем иметь возможность надвинуть на него другой блок с контентом*/
    float: left; /*задаем обтекание слева*/
    margin-bottom: 48px; /*задаем внешние отступы*/
}

.block-image-1-2-4-5:hover .message-on-image, .block-image-3-6:hover .message-on-image {
    display: block; /*элемент с текстом на изображении делаем блочным при наведении на ссылку*/
}

.block-image-1-2-4-5:hover a, .block-image-3-6:hover a {
    color: #f26522; /*задаем цвет подписи под изображением при наведении на него*/
}

.message-on-image {
    position:absolute; /*задаем оранжевому блоку с текстом позицию absolute, и координаты, что позволяем наложить блок на блок с изображением*/
    left: 0; /*задаем положение от левого края*/
    bottom: 50px; /*задаем положение от нижнего края*/
    right: 0; /*задаем положение от правого края*/
    padding: 15px 0 15px 24px; /*задаем внутренние отступы для контента в блоке с текстом на изображении*/
    display: none; /*удаляем элемент из документа*/
    background: #f26522; /*задаем цвет фона элемента*/
}

.text-bottom-image {
    display: block; /*блок под изображением делаем блочным*/
    padding: 15px; /*задаем внутренние отступы для текст под изображением*/
    font-size: 18px; /*задаем размер шрифта для текста под изображением*/
}

.message-on-image-left {
    float: left; /*располагаем блок слева*/
    width: 56%; /*задаем ширину блока*/
}

.message-on-image-left-line1 {
    font-size: 10px; /*задаем размер шрифта первой строки левого текста на изображении при ховере*/
}

.message-on-image-left-line2 {
    font-size: 20px; /*задаем размер шрифта второй строки левого текста на изображении при ховере*/
}

.message-on-image-right {
    padding-top: 16px; /*добавляем отсту сверху*/
    float: left; /*располагаем блок слева*/
    font-size: 14px; /*задаем размер шрита в правой части на изображении при ховере*/
}

.message-on-image-right:after {
    content: url("../images/arrow.png"); /*добавляем стрелку после текста на изображении при ховере*/
    margin-left: 10px; /*добавляем отступ между бекстом и стрелкой*/
}

/*стилизуем футер*/
.footer {
    clear: both; /*сбрасываем действия предыдущих float*/
    font-size: 12px; /*задаем размер шрифта копирайта в футере*/
    text-align: center; /*выравнивание текста по центру*/
}