.container {
color: #1c28ff;
background-color: #FFFFFF;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    flex-direction: column;
    border: 1px red solid;
}

.item1 {

}

.item2 {

}

.nav {
    display: flex;
    border: 1px orange solid;
}

.item-nav {
    padding: 5px 15px;
}

.item-main {
    border: 1px yellow solid;
    height: 300px;
}

