body {
    background-color: #000000; /*задаем цвет фона страницы*/
}

#mainmenu {
    width: 1280px; /* Ширина слоя */
    margin-left: auto; /*отступ слева*/
    margin-right: auto; /*отступ с права*/
    background: #FFFFFF; /*задаем цвет фона хедера*/
    position: relative; /*задаем позиционирование элемента*/
    overflow: hidden; /*отображаем только область внутри элемена. то что не помещается будет скрыто*/
}

#mainmenu ul {
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем отступы*/
    position: relative; /*задаем позиционирование элемента*/
    left: 50%; /*задаем растояние от левого края родительского элемента*/
    float: left; /*задаем направление меню слева на право*/
    font: 18px Roboto, sans-serif; /*задаем шрифт и его размер*/
    letter-spacing: 2pt; /*задаем межсимвольный отступ*/
    height: 81px; /*задаем высоту списка*/
}

#mainmenu ul li {
    position: relative; /*задаем позиционирование элемента*/
    left: -50%; /*задаем растояние от левого края родительского элемента*/
    float: left; /*задаем направление меню слева на право*/
    margin: 0; /*убираем отступы*/
    height: 81px; /*задаем высоту списка*/
}

#mainmenu ul li a {
    color: #16A085; /*задаем цвет шрифта текста*/
    display: block; /*задаем что элемент должен быть показан как блочный*/
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    padding: 30px 35px; /*задаем поля вокруг текста*/
    text-transform: uppercase; /*делаем все символы заглавными*/
}

#mainmenu ul li a:hover {
    background-color: #eff888; /*задаем цвет фона для ховера*/
}

main.content-style {
    margin: 0 auto; /*для main убираем отступы относительного верхнего и нижнего блоков и делаем автоотступы справа и слева*/
    width: 1280px; /* Ширина слоя */
    position: relative; /*задаем позиционирование элемента*/
    background-color: #F5F6F7; /*задаем цвет фона*/
    font-family: Roboto, sans-serif; /*задаем шрифт*/
    text-align: center; /*центрируем текст*/
    color: #000000; /*задаем цвет шрифта*/
    padding: 15px 0; /*задаем поля вокруг текста*/
}

h2.content-h2 {
    padding: 15px 0; /*поля вокруг текста*/
    font-size: 22px; /*задаем размер шрифта*/
    letter-spacing: 2pt; /*задаем межсимвольный отступ*/
    text-transform: uppercase; /*делаем все символы заглавными*/
}

p.content-p {
    font-size: 16px; /*задаем размер шрифта*/
    letter-spacing: 2pt; /*задаем межсимвольный отступ*/
    line-height: 1.7; /*задаем межстрочный интервал*/
    margin-left: auto; /*отступ слева*/
    margin-right: auto; /*отступ с права*/
    width: 1059px; /* Ширина слоя */
    padding: 10px 0; /* Поля вокруг текста */
}

footer.footer-style {
    width: 1280px; /* Ширина слоя */
    margin-left: auto; /*отступ слева*/
    margin-right: auto; /*отступ с права*/
    background: #FFFFFF; /*задаем цвет фона футера*/
    position: relative; /*задаем позиционирование элемента*/
    overflow: hidden; /*отображаем только область внутри элемена. то что не помещается будет скрыто*/
}

p.copiright {
    font-family: Roboto, sans-serif; /*задаем шрифт*/
    font-size: 16px; /*задаем размер шрифта*/
    letter-spacing: 2pt; /*задаем межсимвольный отступ*/
    line-height: 1.7; /*задаем межстрочный интервал*/
    text-align: right; /*задаем выравнивание к правому краю*/
    margin-left: auto; /*отступ слева*/
    margin-right: auto; /*отступ с права*/
    width: 1059px; /* Ширина слоя */
    padding: 45px 0; /* Поля вокруг текста */
}

p.knopka {
    text-align: center; /*задаем выравнивание по центру*/
    margin-left: auto; /*отступ слева*/
    margin-right: auto; /*отступ с права*/
    padding: 50px 0 100px 0; /* Поля вокруг текста */
}

a.knopka {
    font-size: 12px; /*размер шрифта текста на кнопке*/
    letter-spacing: 2pt; /*задаем межсимвольный отступ*/
    font-weight: 700; /*устанавливаем насыщенность шрифта текста на кнопке*/
    color: #FFFFFF; /*Цвет шрифта текста на кнопке*/
    text-decoration: none; /*убираем подчеркивание у ссылки*/
    padding: 18px 44px; /*задаем поля вокруг текста*/
    border-radius: 3px; /*задаем разиус скругления у кнопки*/
    background: #16A085; /*задаем цвет фона кнопки*/
    text-transform: uppercase; /*делаем все символы заглавными*/
}

a.knopka:hover {
    background: #66a04a; /*ховер цвета кнопки*/
}

IMG.display {
    display: block;
    width: 1280px; /* Ширина слоя */
    margin-left: auto; /*отступ слева*/
    margin-right: auto; /*отступ с права*/
}
